@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
  background-color: #fffdfd;
}


h1 h2 h3 h4 h5 h6{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #36160f;
}

p{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  color: #36160f;
}

.hidden-heading {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}




/* inicio nav bar */

.offcanvas {
    max-width: 300px; /* Ajusta el ancho a 300px */

  }

.yellow {
  background: rgb(226,172,107);
  background: -moz-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  background: -webkit-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  background: linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2ac6b",endColorstr="#f9ae00",GradientType=1);
}



.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Asegúrate de que el contenedor tenga la altura necesaria, por ejemplo: */
  height: 100%;
}

.navbar-nav{
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 0%;

}

.social-chart{
  height: 50%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.social-card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 30px;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}






nav {
  
background: rgba(255, 255, 255, 0.2);
-webkit-backdrop-filter: blur(5px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);

}

.navbar-nav .nav-link {
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
}
nav ul li {
  margin: 0 2%;
  position: relative; /* Necesario para efecto */
}

.navbar-nav .nav-link.active {
  color: #ff5100;
}


 nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -0.5px;
  left: 0;
  width: 0;
  height: 1px;
  background: #ff5100;
  transition: width 0.3s ease, left 0.3s ease;
}

 nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -0.5px;
  left: 0;
  width: 0;
  height: 1px;
  transition: width 0.3s ease, left 0.3s ease;
}

 nav ul li a.active::after {
  width: 100%;
}

/* fin nav bar */



  /* inicio carousel */
  .carousel-item img {
    height: 60vh; /* Hace que la imagen ocupe toda la altura del viewport */
    object-fit: cover; /* Ajusta la imagen para llenar el espacio sin deformarse */
    object-position: center; /* Centra la imagen */
  }

  .carousel-item {
    position: relative;
    
  }
  .carousel-control-next{
    z-index: 50;
  }
  
  .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece la imagen con un 50% de opacidad */
    pointer-events: none;
    z-index: -1;
}
  
.carousel-item img {
    position: relative;
    z-index: -2; /* La imagen se posiciona en un nivel inferior */
  }

.carousel-caption h2{
    color: #f9ae00;
    font-size: 1.5em;
}

.carousel-caption p{
  font-size: 0.8em;
}

.carousel-caption { /* Asegurar que el texto esté centrado correctamente */
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    width: 100%;
    z-index: 1;
    margin-top: 10%;
    
  }

  /* Anula la posición por defecto de Bootstrap y centra el contenido */
.carousel-caption {
  top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

  
  
  .carousel-item.active .carousel-caption {/* Hacer que el texto aparezca cuando el slide está activo */
    opacity: 1;
  }

  
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
    z-index: 10;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease ;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #f9ae00;
    transform: skew(-15deg) ;
    transition: all .2s ease ;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923 ; 
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px) ;
  }
  
  .button:hover .button_lg::after {
    background-color: #fff ;
  }
  
  
  
  
  /* fin carousel */

  /* inicio sobre nosotros */

  
.about-us {/* Sección general */
    width: 100%;
    padding: 2rem;
    background-color: #ffffff;
  
  }
  
  
  .logo-container {/* Logo centrado */
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .logo-container img {
    max-width: 200px;
  }

  .about-us-card-container {
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 2rem;
    border: #f9ae00;
    border-style: solid;
  }
  
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
 .about-us-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
 }

 .sobre-nosotros h3{
  margin-bottom: 1rem;
  margin-top: 1rem;
 }

 




.resaltar{
  color:#9f6f00;
  font-weight: 500;
}

.contenedor-ventajas-comerciales{
  width: 100%;
  border-radius: 50px;
  padding: 2rem;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(226,172,107);
background: -moz-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
background: -webkit-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
background: linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2ac6b",endColorstr="#f9ae00",GradientType=1);
}

.contenedor-ventajas-comerciales-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  gap: 1rem;

}

.contenedor-ventajas-comerciales-item img{
  width: 5rem;
}

.book-container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.book {
  position: relative;
  border-radius: 10px;
  width: 260px;
  height: 360px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 1px 1px 12px #f9ae008f;
  box-shadow: 1px 1px 12px #f9ae008d;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem;
  color: #000;
}

.book p{
  font-size: 0.8em;
}

.book h5{
  margin-bottom: 20px;
}

.cover {
  top: 0;
  position: absolute;
  background-color: #f6f2f2;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover img{
  width: 90%;
}



.cover.in-view {
  /* El efecto se activa después de 2 segundos */
  transition-delay: 0s;
  transform: rotateY(-80deg);
}



  /* fin sobre nosotros */

  /* Inicio servicios  */

.servicios-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 50px;
  
  
}

.card-container {

  width: 300px;         
  height: 400px;
     
  padding-left: 0.5rem;
  padding-right: 0.5rem;    
  background-color: #fafafa; 
  color: #4b5563;      
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.75rem;   
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.5s;
}

.card-container:hover {
  transform: translateY(-0.5rem); /* hover:-translate-y-2 */
}

.background-svg {/* Fondo SVG (equivalente a: absolute, blur, z-10, fill-red-300, duration-500, group-hover:blur-none, group-hover:scale-105) */

  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  z-index: 10;
  fill: #f9ae0093; /* fill-red-300 */
  transition: filter 0.5s, transform 0.5s;
}

.card-container:hover .background-svg {
  filter: blur(0);
  transform: scale(1.05);
}

.card-content {/* Contenido de la Card */

  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 1rem; 
}

.card-img {
  width: 30%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #000000;
}

.card-text {
  margin-bottom: 0.3rem;
  margin-bottom: 1rem;
}



.card-button {
  font-size: 0.9rem;
  width: 60%;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #f9ae00;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #f9ae00;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.card-button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #f9ae00;
  z-index: -1;
}

.card-button:hover, .card-button:focus {
  color: white;
}

.card-button:hover:before, .card-button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.card-button:active {
  transform: scale(0.9);
}

.card-servicios {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 14px;
  z-index: 3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 290px;
  height: 390px;
  z-index: 2;
  background: #e7e7e7d6;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid #ffffff;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: #f9ae00;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}


/* Estilos para el Pop-Up */
.popup {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.2);
-webkit-backdrop-filter: blur(5px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
}

.popup-content {
  background: rgb(226,172,107);
  background: -moz-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  background: -webkit-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  background: linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2ac6b",endColorstr="#f9ae00",GradientType=1);
  margin: 15% auto;
  align-self: center;
  justify-self: center;
  padding: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  border-radius: 0.5rem;
  position: relative;

  min-height: 80vh; 
  height: auto; /* Para que el contenido lo expanda si es necesario */
 
}

.servicios {
  list-style: none;
  padding-left: 0;
}
.servicios  li {
  font-size: clamp(0.8rem, 1vh, 1rem);
  color: #36160f;
}
.servicios li ul {
  padding-left: 20px;
  list-style: disc;
}

.popup-content p{
  font-size: clamp(0.8rem, 1.8vh, 1rem); /* Se adapta al ancho de la pantalla */
  font-weight: 450;
}


.highlight {
  font-weight: 600;
  color: #000000;
}
.section {
  margin-bottom: 20px;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}


/* Nuevo código en styles.css para la animación del pop-up */
.popup-content {
  animation: popupFadeIn 0.5s ease-out;
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


  /* fin servicios */

  /* inicio formulario */

.form-background{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .form-container {
    max-width: 600px;
    width: 80%;
    margin-top: 10%;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
 background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  }
  


form{
  display: flex;
  flex-direction: column;

}

 
  .titulo-form { /* Título del formulario */
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 3rem;
  }
  
  
  label {/* Etiquetas */
    display: block;
    margin-top: 10px;
    color: #555;
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {/* Inputs, select y textarea */
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    background-color: #e0e0e0;
    
  }
  
  
  fieldset {/* Fieldset para medidas */
    
    border-radius: 4px;
    margin-top: 10px;
    padding: 20px;
    

    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    
    border-radius: 50px;
 background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
    
  }
  
  legend {
    font-weight: bold;
    color: #555;
  }
  
  button[type="submit"]{
    width: 50%;
  }
  
  /* Mensaje de confirmación con animación minimalista */
  .confirmation {
    position: fixed;
    top: 20px;    /* margen superior leve */
    transform: none; /* elimina cualquier transformación */
    z-index: 9999;
    left: 0
  ;
  }
  
  

  .card-confirmation {
    width: 90%;
    padding-right: 10px;
    height: fit-content;
    padding-bottom: 12px;
    background: lightgrey;
    border-left-style: solid;
    border-left-color: rgb(55, 214, 6);
    border-left-width: 5px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: rgb(3,249,0);
    background: rgb(3,249,0);
    background: -moz-linear-gradient(90deg, rgba(4, 249, 0, 0.295) 0%, rgba(4, 249, 0, 0.119) 50%, rgba(3,249,0,0.295) 100%);
    background: -webkit-linear-gradient(90deg, rgba(3,249,0,0.295) 0%, rgba(3,249,0,0.119) 50%, rgba(3,249,0,0.295) 100%);
    background: linear-gradient(90deg, rgba(3,249,0,0.295) 0%, rgba(3,249,0,0.119) 50%, rgba(3,249,0,0.295) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03f900",endColorstr="#03f900",GradientType=1);  }
  
  .card-confirmation svg {
    height: 40px;
    padding-left: 10px;
    padding-top: 12px;
    fill: #21c208;
    float: left;
  }
  
  .card-confirmation p {
    float: left;
    padding-top: 13px;
    padding-left: 10px;
    color: white;
    font-size: 15px;
  }
  
  .card-confirmation span {
    display: flex;
    align-items: left;
  }

  /* inicio loader */

  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  

  .socket {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
  }
  
  .hex-brick {
    background: #000000;
    width: 30px;
    height: 17px;
    position: absolute;
    top: 5px;
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
  }
  
  .h2 {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
  }
  
  .h3 {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
  }
  
  .gel {
    height: 30px;
    width: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .center-gel {
    margin-left: -15px;
    margin-top: -15px;
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
  }
  
  .c1 {
    margin-left: -47px;
    margin-top: -15px;
  }
  
  .c2 {
    margin-left: -31px;
    margin-top: -43px;
  }
  
  .c3 {
    margin-left: 1px;
    margin-top: -43px;
  }
  
  .c4 {
    margin-left: 17px;
    margin-top: -15px;
  }
  
  .c5 {
    margin-left: -31px;
    margin-top: 13px;
  }
  
  .c6 {
    margin-left: 1px;
    margin-top: 13px;
  }
  
  .c7 {
    margin-left: -63px;
    margin-top: -43px;
  }
  
  .c8 {
    margin-left: 33px;
    margin-top: -43px;
  }
  
  .c9 {
    margin-left: -15px;
    margin-top: 41px;
  }
  
  .c10 {
    margin-left: -63px;
    margin-top: 13px;
  }
  
  .c11 {
    margin-left: 33px;
    margin-top: 13px;
  }
  
  .c12 {
    margin-left: -15px;
    margin-top: -71px;
  }
  
  .c13 {
    margin-left: -47px;
    margin-top: -71px;
  }
  
  .c14 {
    margin-left: 17px;
    margin-top: -71px;
  }
  
  .c15 {
    margin-left: -47px;
    margin-top: 41px;
  }
  
  .c16 {
    margin-left: 17px;
    margin-top: 41px;
  }
  
  .c17 {
    margin-left: -79px;
    margin-top: -15px;
  }
  
  .c18 {
    margin-left: 49px;
    margin-top: -15px;
  }
  
  .c19 {
    margin-left: -63px;
    margin-top: -99px;
  }
  
  .c20 {
    margin-left: 33px;
    margin-top: -99px;
  }
  
  .c21 {
    margin-left: 1px;
    margin-top: -99px;
  }
  
  .c22 {
    margin-left: -31px;
    margin-top: -99px;
  }
  
  .c23 {
    margin-left: -63px;
    margin-top: 69px;
  }
  
  .c24 {
    margin-left: 33px;
    margin-top: 69px;
  }
  
  .c25 {
    margin-left: 1px;
    margin-top: 69px;
  }
  
  .c26 {
    margin-left: -31px;
    margin-top: 69px;
  }
  
  .c27 {
    margin-left: -79px;
    margin-top: -15px;
  }
  
  .c28 {
    margin-left: -95px;
    margin-top: -43px;
  }
  
  .c29 {
    margin-left: -95px;
    margin-top: 13px;
  }
  
  .c30 {
    margin-left: 49px;
    margin-top: 41px;
  }
  
  .c31 {
    margin-left: -79px;
    margin-top: -71px;
  }
  
  .c32 {
    margin-left: -111px;
    margin-top: -15px;
  }
  
  .c33 {
    margin-left: 65px;
    margin-top: -43px;
  }
  
  .c34 {
    margin-left: 65px;
    margin-top: 13px;
  }
  
  .c35 {
    margin-left: -79px;
    margin-top: 41px;
  }
  
  .c36 {
    margin-left: 49px;
    margin-top: -71px;
  }
  
  .c37 {
    margin-left: 81px;
    margin-top: -15px;
  }
  
  .r1 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
  }
  
  .r2 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
  }
  
  .r3 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
  }
  
  .r1 > .hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
  }
  
  .r2 > .hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
  }
  
  .r3 > .hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
  }
  
  @keyframes pulse00 {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(0.01);
      transform: scale(0.01);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes fade00 {
    0% {
      background: #252525;
    }
  
    50% {
      background: #000000;
    }
  
    100% {
      background: #353535;
    }
  }
  

  /* fin loader */

  .form-btn-center{
    margin-top: 20px;
    align-self: center;
  }





  
  /* fin formulario */

  /* boton whatsapp */
  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.2s ease-in-out;
}

.whatsapp-button:hover {
    transform: scale(1.1);
    background-color: #1ebe57;
}

.whatsapp-button img {
    width: 35px;
    height: 35px;
}


/* inicio footer */


.footer{
  border-radius: 50px;
  padding: 2rem;
width: 100%;
margin-top: 3rem;
background: rgb(226,172,107);
background: -moz-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
background: -webkit-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
background: linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2ac6b",endColorstr="#f9ae00",GradientType=1);
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container h3{
  margin-bottom: 2rem;
}

.column-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-columna{
  padding-right: 10px;
}

.footer-columna p{
  font-size: 0.8rem;
}

/* fin footer */