* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
  background-color: #e8e8e8;
}

/* inicio nav bar */
.offcanvas {
    max-width: 300px; /* Ajusta el ancho a 300px */

  }

.yellow {
  background: rgb(226,172,107);
  background: -moz-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  background: -webkit-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  background: linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2ac6b",endColorstr="#f9ae00",GradientType=1);
}

.card {
  max-width: fit-content;
  margin-top: 50%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  background-color: #e8e8e8;
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  transition: 0.5s;
}

.card:hover {
  animation: ease-out 5s;
  background: rgba(173, 173, 173, 0.05);
}

.card ul {
  padding: 1rem;
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.card ul li {
  cursor: pointer;
}

.svg {
  transition: all 0.3s;
  /* if you find some problems change w - h : 30px*/
  padding: 1rem;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  color: rgb(60, 58, 55);
  fill: currentColor;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.text {
  opacity: 0;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s;
  color: rgb(60, 58, 55);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 9999;
  box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
    -10px 0 1px rgba(153, 153, 153, 0.2),
    inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
}

/*isometric prooyection*/
.iso-pro {
  transition: 0.5s;
}
.iso-pro:hover a > .svg {
  transform: translate(15px, -15px);
  border-radius: 100%;
}

.iso-pro:hover .text {
  opacity: 1;
  transform: translate(25px, -2px) skew(-5deg);
}

.iso-pro:hover .svg {
  transform: translate(5px, -5px);
}

.iso-pro span {
  opacity: 0;
  position: absolute;
  color: #1877f2;
  border-color: #1877f2;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
  border-radius: 50%;
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}

.iso-pro:hover span {
  opacity: 1;
}

.iso-pro:hover span:nth-child(1) {
  opacity: 0.2;
}

.iso-pro:hover span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.iso-pro:hover span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}


.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Asegúrate de que el contenedor tenga la altura necesaria, por ejemplo: */
  height: 100%;
}

.offcanvas-body .card {
  align-self: flex-end;
  margin-right: 10%;
}




nav {
  
background: rgba(255, 255, 255, 0.2);
-webkit-backdrop-filter: blur(5px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);

}

.navbar-nav .nav-link {
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
}
nav ul li {
  margin: 0 2%;
  position: relative; /* Necesario para efecto */
}

.navbar-nav .nav-link.active {
  color: #ff5100;
}


 nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -0.5px;
  left: 0;
  width: 0;
  height: 1px;
  background: #ff5100;
  transition: width 0.3s ease, left 0.3s ease;
}

 nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -0.5px;
  left: 0;
  width: 0;
  height: 1px;
  transition: width 0.3s ease, left 0.3s ease;
}

 nav ul li a.active::after {
  width: 100%;
}

/* fin nav bar */



  /* inicio carousel */
  .carousel-item img {
    height: 60vh; /* Hace que la imagen ocupe toda la altura del viewport */
    object-fit: cover; /* Ajusta la imagen para llenar el espacio sin deformarse */
    object-position: center; /* Centra la imagen */
  }

  .carousel-item {
    position: relative;
  }
  
  .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece la imagen con un 50% de opacidad */
    pointer-events: none;
    z-index: -1;
}
  
.carousel-item img {
    position: relative;
    z-index: -2; /* La imagen se posiciona en un nivel inferior */
  }

.carousel-caption h2{
    color: #f9ae00;
}

.carousel-caption { /* Asegurar que el texto esté centrado correctamente */
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    width: 100%;
    z-index: 1;
    
  }

  /* Anula la posición por defecto de Bootstrap y centra el contenido */
.carousel-caption {
  left: 50% !important;
  right: auto !important;
  transform: translateX(-50%) !important;
  width: 80% !important;
  text-align: center;
}

  
  
  .carousel-item.active .carousel-caption {/* Hacer que el texto aparezca cuando el slide está activo */
    opacity: 1;
  }

  
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
    z-index: 10;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease ;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #f9ae00;
    transform: skew(-15deg) ;
    transition: all .2s ease ;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923 ; 
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px) ;
  }
  
  .button:hover .button_lg::after {
    background-color: #fff ;
  }
  
  
  
  
  /* fin carousel */

  /* inicio sobre nosotros */

  
.about-us {/* Sección general */
    width: 100%;
    padding: 2rem;
    background-color: #e8e8e8;
  
  }
  
  
  .logo-container {/* Logo centrado */
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .logo-container img {
    max-width: 200px;
  }

  .about-us-card-container{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 2rem;

  }
  
 .about-us-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
 }

 .sobre-nosotros h3{
  margin-bottom: 1rem;
  margin-top: 1rem;
 }

 
.animate-on-scroll {/* Estado inicial: oculto y desplazado hacia abajo */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.visible {/* Estado visible: se muestra y vuelve a su posición normal */

  opacity: 1;
  transform: translateY(0);
}

.resaltar{
  color:#f9ae00;
}

.contenedor-ventajas-comerciales{
  width: 100%;
  border-radius: 50px;
  padding: 2rem;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(226,172,107);
background: -moz-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
background: -webkit-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
background: linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2ac6b",endColorstr="#f9ae00",GradientType=1);
}

.contenedor-ventajas-comerciales-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  gap: 1rem;

}

.contenedor-ventajas-comerciales-item img{
  width: 5rem;
}

.book-container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.book {
  position: relative;
  border-radius: 10px;
  width: 260px;
  height: 340px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #f9ae00;
  box-shadow: 1px 1px 12px #f9ae00;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem;
  color: #000;
}

.book p{
  font-size: 0.8em;
}

.book h5{
  margin-bottom: 20px;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #f9ae00;
  box-shadow: 1px 1px 12px #f9ae00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.cover p {
  font-size: 20px;
  font-weight: bolder;
}

  /* fin sobre nosotros */

  /* Inicio servicios  */

.servicios-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 15%;
  
}

.card-container {/* Card Container (equivalente a Tailwind: w-44, h-44, bg-neutral-50, text-neutral-600, flex, flex-col, justify-center, items-center, relative, rounded-xl, overflow-hidden, shadow-md, hover:-translate-y-2, duration-500) */

  width: 300px;         /* w-44 (11rem) */
  height: 300px;        /* h-44 */
  background-color: #fafafa;  /* bg-neutral-50 */
  color: #4b5563;       /* text-neutral-600 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.75rem;     /* rounded-xl */
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  transition: transform 0.5s;
}

.card-container:hover {
  transform: translateY(-0.5rem); /* hover:-translate-y-2 */
}

.background-svg {/* Fondo SVG (equivalente a: absolute, blur, z-10, fill-red-300, duration-500, group-hover:blur-none, group-hover:scale-105) */

  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  z-index: 10;
  fill: #f9ae00; /* fill-red-300 */
  transition: filter 0.5s, transform 0.5s;
}

.card-container:hover .background-svg {
  filter: blur(0);
  transform: scale(1.05);
}

.card-content {/* Contenido de la Card */

  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-img {
  width: 30%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #000000;
}

.card-text {
  margin-bottom: 0.3rem;
  margin-bottom: 1rem;
}

.card-button {
  padding: 0.5rem 1rem;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #2563eb;
}

/* Estilos para el Pop-Up */
.popup {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.2);
-webkit-backdrop-filter: blur(5px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
}

.popup-content {
  background: rgb(226,172,107);
  background: -moz-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  background: -webkit-linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  background: linear-gradient(90deg, rgba(226,172,107,1) 0%, rgba(249,174,0,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2ac6b",endColorstr="#f9ae00",GradientType=1);
  margin: 15% auto;
  align-self: center;
  justify-self: center;
  padding: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70%;
  max-width: 300px;
  border-radius: 0.5rem;
  position: relative;
}

.popup-content p{
  font-size: 0.8rem;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* Nuevo código en styles.css para la animación del pop-up */
.popup-content {
  animation: popupFadeIn 0.5s ease-out;
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


  /* fin servicios */

  /* inicio formulario */

.form-background{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .form-container {
    max-width: 600px;
    width: 80%;
    margin-top: 10%;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
 background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  }
  


form{
  display: flex;
  flex-direction: column;

}

 
  .titulo-form { /* Título del formulario */
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 3rem;
  }
  
  
  label {/* Etiquetas */
    display: block;
    margin-top: 10px;
    color: #555;
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {/* Inputs, select y textarea */
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    background-color: #e0e0e0;
    
  }
  
  
  fieldset {/* Fieldset para medidas */
    
    border-radius: 4px;
    margin-top: 10px;
    padding: 20px;
    

    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    
    border-radius: 50px;
 background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
    
  }
  
  legend {
    font-weight: bold;
    color: #555;
  }
  
  button[type="submit"]{
    width: 50%;
  }
  
  /* Mensaje de confirmación con animación minimalista */
  .confirmation {
    position: fixed;
    top: 20px;    /* margen superior leve */
    transform: none; /* elimina cualquier transformación */
    z-index: 9999;
    left: 0
  ;
  }
  
  

  .card-confirmation {
    width: 90%;
    padding-right: 10px;
    height: fit-content;
    padding-bottom: 12px;
    background: lightgrey;
    border-left-style: solid;
    border-left-color: rgb(55, 214, 6);
    border-left-width: 5px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: rgb(3,249,0);
    background: rgb(3,249,0);
    background: -moz-linear-gradient(90deg, rgba(4, 249, 0, 0.295) 0%, rgba(4, 249, 0, 0.119) 50%, rgba(3,249,0,0.295) 100%);
    background: -webkit-linear-gradient(90deg, rgba(3,249,0,0.295) 0%, rgba(3,249,0,0.119) 50%, rgba(3,249,0,0.295) 100%);
    background: linear-gradient(90deg, rgba(3,249,0,0.295) 0%, rgba(3,249,0,0.119) 50%, rgba(3,249,0,0.295) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03f900",endColorstr="#03f900",GradientType=1);  }
  
  .card-confirmation svg {
    height: 40px;
    padding-left: 10px;
    padding-top: 12px;
    fill: #21c208;
    float: left;
  }
  
  .card-confirmation p {
    float: left;
    padding-top: 13px;
    padding-left: 10px;
    color: white;
    font-size: 15px;
  }
  
  .card-confirmation span {
    display: flex;
    align-items: left;
  }

  /* inicio loader */

  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  

  .socket {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
  }
  
  .hex-brick {
    background: #000000;
    width: 30px;
    height: 17px;
    position: absolute;
    top: 5px;
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
  }
  
  .h2 {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
  }
  
  .h3 {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
  }
  
  .gel {
    height: 30px;
    width: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .center-gel {
    margin-left: -15px;
    margin-top: -15px;
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
  }
  
  .c1 {
    margin-left: -47px;
    margin-top: -15px;
  }
  
  .c2 {
    margin-left: -31px;
    margin-top: -43px;
  }
  
  .c3 {
    margin-left: 1px;
    margin-top: -43px;
  }
  
  .c4 {
    margin-left: 17px;
    margin-top: -15px;
  }
  
  .c5 {
    margin-left: -31px;
    margin-top: 13px;
  }
  
  .c6 {
    margin-left: 1px;
    margin-top: 13px;
  }
  
  .c7 {
    margin-left: -63px;
    margin-top: -43px;
  }
  
  .c8 {
    margin-left: 33px;
    margin-top: -43px;
  }
  
  .c9 {
    margin-left: -15px;
    margin-top: 41px;
  }
  
  .c10 {
    margin-left: -63px;
    margin-top: 13px;
  }
  
  .c11 {
    margin-left: 33px;
    margin-top: 13px;
  }
  
  .c12 {
    margin-left: -15px;
    margin-top: -71px;
  }
  
  .c13 {
    margin-left: -47px;
    margin-top: -71px;
  }
  
  .c14 {
    margin-left: 17px;
    margin-top: -71px;
  }
  
  .c15 {
    margin-left: -47px;
    margin-top: 41px;
  }
  
  .c16 {
    margin-left: 17px;
    margin-top: 41px;
  }
  
  .c17 {
    margin-left: -79px;
    margin-top: -15px;
  }
  
  .c18 {
    margin-left: 49px;
    margin-top: -15px;
  }
  
  .c19 {
    margin-left: -63px;
    margin-top: -99px;
  }
  
  .c20 {
    margin-left: 33px;
    margin-top: -99px;
  }
  
  .c21 {
    margin-left: 1px;
    margin-top: -99px;
  }
  
  .c22 {
    margin-left: -31px;
    margin-top: -99px;
  }
  
  .c23 {
    margin-left: -63px;
    margin-top: 69px;
  }
  
  .c24 {
    margin-left: 33px;
    margin-top: 69px;
  }
  
  .c25 {
    margin-left: 1px;
    margin-top: 69px;
  }
  
  .c26 {
    margin-left: -31px;
    margin-top: 69px;
  }
  
  .c27 {
    margin-left: -79px;
    margin-top: -15px;
  }
  
  .c28 {
    margin-left: -95px;
    margin-top: -43px;
  }
  
  .c29 {
    margin-left: -95px;
    margin-top: 13px;
  }
  
  .c30 {
    margin-left: 49px;
    margin-top: 41px;
  }
  
  .c31 {
    margin-left: -79px;
    margin-top: -71px;
  }
  
  .c32 {
    margin-left: -111px;
    margin-top: -15px;
  }
  
  .c33 {
    margin-left: 65px;
    margin-top: -43px;
  }
  
  .c34 {
    margin-left: 65px;
    margin-top: 13px;
  }
  
  .c35 {
    margin-left: -79px;
    margin-top: 41px;
  }
  
  .c36 {
    margin-left: 49px;
    margin-top: -71px;
  }
  
  .c37 {
    margin-left: 81px;
    margin-top: -15px;
  }
  
  .r1 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
  }
  
  .r2 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
  }
  
  .r3 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
  }
  
  .r1 > .hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
  }
  
  .r2 > .hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
  }
  
  .r3 > .hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
  }
  
  @keyframes pulse00 {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(0.01);
      transform: scale(0.01);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes fade00 {
    0% {
      background: #252525;
    }
  
    50% {
      background: #000000;
    }
  
    100% {
      background: #353535;
    }
  }
  

  /* fin loader */

  .form-btn-center{
    margin-top: 20px;
    align-self: center;
  }





  
  /* fin formulario */